html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-toolbar.mat-primary{
    background-color: red !important;
}
.mat-toolbar-single-row{
    padding: 0px 7rem !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
